@use '../abstracts' as abs;
@use '../themes' as theme;

/* Overriding default Splide styles */
.splide {
    width: 100%;
    height: 100%;
    @include abs.flex-mixin;
    justify-content: stretch;

    &__track {
        height: 100%;
        padding-top: abs.rem(64);

        flex: 1 1 auto;

        @include abs.tablet-screen {
            height: abs.rem(682);
            padding: 0;
            flex: 0 2 auto;
            width: auto;
            flex-basis: abs.rem(694.6);
            margin-inline: auto;
        }

        @include abs.desktop-screen {
            height: abs.rem(645);
        }
    }

    &__pagination {
        gap: abs.rem(20);
        height: abs.rem(20);
        margin-bottom: abs.rem(10) !important; // override inline splide margins

        &__page {
            width: abs.rem(40);
            height: abs.rem(40);
            border-radius: 50%;
            background-color: #1918250d;

            &.is-active {
                background-color: theme.$text-secondary-color;
                opacity: 1;
            }

            &.dots {
                width: abs.rem(20);
                height: abs.rem(20);
            }
        }
    }

    &--loop {
        @include abs.desktop-screen {
            transform: translate(abs.rem(10), 0);
        }
    }

    @include abs.tablet-screen {
        height: auto;
    }
}

.splide__arrow.my-arrow {
    position: absolute;
    top: 36%;
    width: abs.rem(64);
    height: abs.rem(64);

    @include abs.tablet-screen {
        top: 50%;
        width: abs.rem(100);
        height: abs.rem(100);
        font-size: abs.rem(20);
    }

    &.splide__arrow--next.my-next {
        background-color: theme.$btn-primary-color;
        color: white;
        opacity: 1;
        right: abs.rem(15);
        top: 35.6%;

        @include abs.tablet-screen {
            top: 49%;
            right: abs.rem(14);
        }

        @include abs.desktop-screen {
            top: 50%;
            right: abs.rem(18);
        }
    }

    // Hide default splide SVGs so we can use custom classes/fonts instead
    svg {
        display: none;
    }

    &.splide__arrow--prev.my-prev {
        background-color: white;
        left: abs.rem(15);
        top: 35.6%;
        border: 1px solid #1918251a;

        @include abs.tablet-screen {
            top: 49%;
            left: abs.rem(14);
        }

        @include abs.desktop-screen {
            top: 50%;
        }
    }
}

// Kill splide's default active scaling animation on pagination dots
.splide .splide__pagination__page.is-active {
    background-color: theme.$text-secondary-color;
    scale: 1 !important;
    transform: none !important;
}

.splide__pagination__page.dots {
    height: abs.rem(24);
    width: abs.rem(24);
}
