@use '../abstracts' as abs;
@use '../themes' as theme;

/* Overriding default Splide styles */
.splide {
    width: 100%;
    height: 100%;
    @include abs.flex-mixin(stretch);

    &__track {
        height: 100%;
        padding-top: abs.rem(64);

        flex: 1 1 auto;

        @include abs.tablet-screen {
            height: abs.rem(682);
            padding: 0;
            flex: 0 2 auto;
            width: auto;
            margin-inline: auto;
        }

        @include abs.desktop-screen {
            height: abs.rem(645);
        }
    }

    &__pagination.splide__pagination {
        gap: abs.rem(20);
        height: abs.rem(30);
        bottom: abs.rem(-90);

        @include abs.tablet-screen {
            bottom: abs.rem(5);
        }

        @include abs.desktop-screen {
            bottom: abs.rem(-2);
        }
    }

    &__pagination__page {
        width: abs.rem(40);
        height: abs.rem(40);
        border-radius: 50%;
        background-color: #1918250d;

        &.is-active {
            background-color: theme.$text-secondary-color;
            opacity: 1;
        }

        &.dots {
            width: abs.rem(20);
            height: abs.rem(20);
        }
    }

    &--loop {
        @include abs.desktop-screen {
            transform: translate(abs.rem(10), 0);
        }
    }

    @include abs.tablet-screen {
        height: auto;
    }
}

.splide__arrow.my-arrow {
    position: absolute;
    width: abs.rem(64);
    height: abs.rem(64);
    font-size: abs.rem(12);

    @include abs.tablet-screen {
        width: abs.rem(100);
        height: abs.rem(100);
        font-size: abs.rem(20);
    }

    &.splide__arrow--next.my-next {
        background-color: white;
        opacity: 1;
        right: abs.rem(16);
        top: abs.rem(264.375);
        box-shadow: #{abs.get(abs.$shadows, next-btn)};
        transition: all 0.3s ease-out;

        &::before {
            color: theme.$text-card-color;
        }

        &:hover,
        &:active {
            background-color: theme.$icon-color;

            &::before {
                color: theme.$btn-secondary-color;
            }
        }

        @include abs.tablet-screen {
            top: abs.rem(336.225);
            right: abs.rem(12);
        }

        @include abs.desktop-screen {
            top: abs.rem(319.275);
            right: abs.rem(17);
        }
    }

    // Hide default splide SVGs so we can use custom classes/fonts instead
    svg {
        display: none;
    }

    &.splide__arrow--prev.my-prev {
        background-color: white;
        left: abs.rem(16);
        top: abs.rem(264.375);
        box-shadow: #{abs.get(abs.$shadows, next-btn)};
        transition: all 0.3s ease-out;
        opacity: 1;
        &:hover,
        &:active {
            background-color: theme.$icon-color;

            &::before {
                color: theme.$btn-secondary-color;
            }
        }

        @include abs.tablet-screen {
            top: abs.rem(336.225);
            left: abs.rem(12);
        }

        @include abs.desktop-screen {
            top: abs.rem(319.275);
            left: abs.rem(17);
        }
    }
}

// Kill splide's default active scaling animation on pagination dots
.splide .splide__pagination__page.is-active {
    background-color: theme.$text-secondary-color;
    transform: none;
}

.splide__pagination__page.dots {
    height: abs.rem(24);
    width: abs.rem(24);
}
