@use '../abstracts' as abs;
@use '../themes' as theme;

.nav__link {
    @include abs.font-style(
        $size: abs.rem(16),
        $color: theme.$text-about-description,
        $weight: abs.get(abs.$font-weight, bold)
    );
    text-transform: capitalize;

    &--active {
        color: theme.$text-primary-color;
    }

    &:hover {
        text-decoration: underline;
    }

    @include abs.tablet-screen {
        font-size: abs.rem(32);
    }

    @include abs.desktop-screen {
        font-size: abs.rem(14);
    }
}
