@use 'sass:map';
@use '../abstracts' as abs;
@use '../themes' as theme;

.nav__link {
    @include abs.font-style(
        $size: abs.rem(16),
        $color: #19182580,
        $weight: map.get(abs.$font-weight, bold)
    );
    text-transform: capitalize;

    &.active {
        color: theme.$text-primary-color;
    }
}
