// Gradient colors
$back-gradient-orange: #ff5722;
$back-gradient-yellow: #facd49;

// Button Colors
$btn-primary-color: #5d50c6;
$btn-secondary-color: #ffffff;

// Display breakpoints
$mobile-breakpoint: 431px;
$tablet-breakpoint: 1025px;
$desktop-breakpoint: 1440px;

// Text colors
$text-primary-color: #000000;
$text-secondary-color: #f85e9f;
$text-light-color: #eeeeee;
$text-card-color: #ff5722;

// Icon colors
$icon-color: #5d50c6;

// Fonts variable
$default-font: 'Circular Std';
$secondary-font: 'Inter';

// Font-weights
$font-bold: 700;
$font-medium: 500;
$font-regular: 400;
$font-thin: 100;
