// Gradient colors
$back-gradient-orange: #ff5722;
$back-gradient-yellow: #facd49;

// Button colors
$btn-primary-color: #5d50c6;
$btn-secondary-color: #ffffff;

// Text colors
$text-primary-color: #000000;
$text-secondary-color: #f85e9f;
$text-light-color: #eeeeee;
$stats-card-color: #ff5722;
$text-card-color: #191825;

// Icon colors
$icon-color: #5d50c6;
