@use '../abstracts' as abs;
@use '../themes' as theme;

.brands {
    position: relative;

    &__imgs {
        height: 100%;
        @include abs.flex-mixin;
        flex-wrap: wrap;
        gap: abs.rem(32) abs.rem(27);

        @include abs.tablet-screen {
            height: auto;
            flex-basis: abs.rem(570);
        }

        @include abs.desktop-screen {
            flex-basis: auto;
            gap: abs.rem(100);
        }
    }

    &__img {
        height: abs.rem(20);

        &:nth-child(1) {
            margin-left: abs.rem(-22);
        }

        @include abs.tablet-screen {
            height: abs.rem(32);

            &:nth-child(1) {
                margin-left: 0;
            }
        }
    }

    &__bg-yellow {
        height: abs.rem(406);
        width: abs.rem(406);
        background-color: theme.$back-gradient-yellow;
        position: absolute;
        border-radius: 50%;
        filter: blur(abs.rem(150));
        right: -40%;
        top: 12%;
        display: none;

        @include abs.tablet-screen {
            display: block;
        }

        @include abs.desktop-screen {
            right: -27%;
        }
    }

    @include abs.tablet-screen {
        padding-block: abs.rem(64);
        @include abs.flex-mixin;
    }

    @include abs.desktop-screen {
        padding-block: abs.rem(63.79);
    }
}
