@use 'sass:map';
@use '../abstracts' as abs;
@use '../themes' as theme;

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: abs.rem(32);
    margin-top: abs.rem(64);
    &__visuals {
        position: relative;
        width: 99.899%;
        height: abs.rem(366);
        margin-inline: auto;
        background: url('/assets/images/background-globe.webp') no-repeat top /
            contain;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        .icon {
            position: absolute;
            z-index: 10;
            font-size: abs.rem(13.69);
            padding: abs.rem(9.58);
            border-radius: 50%;
            text-align: center;
            box-shadow:
                0px 9.75px 9.75px 0px #00000017,
                0px 22.07px 13.35px 0px #0000000d,
                0px 39.53px 15.91px 0px #00000003,
                0px 61.6px 17.45px 0px #00000000;

            &-telegram {
                top: 48%;
                left: 7.2%;
                background-color: theme.$text-secondary-color;

                &::before {
                    padding-top: 0.5px;
                }
            }

            &-add_user {
                background-color: theme.$back-gradient-orange;
                left: 61.5%;
            }
        }

        .top-places {
            height: fit-content;
            width: fit-content;
            scale: 0.5;
            border-radius: 0;
            left: 55.5%;
            bottom: -5.6%;
            box-shadow: none;
        }

        &-images {
            width: 74.4815%;
            height: 88.636%;
            @include abs.flex-mixin(space-between);
            transform: translate(-4px, -4px);

            &--column {
                @include abs.flex-mixin(space-between);
                flex-direction: column;
                height: 100%;
                width: 47.3047%;
                background-color: inherit;

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }

            &--single {
                @include abs.flex-mixin;
                width: 47.3047%;
                height: 100%;

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    &__content {
        width: 100%;

        &-explore {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: abs.rem(16);
            width: abs.rem(224);
            height: abs.rem(56);
            margin-inline: auto;
            border-radius: abs.rem(30);
            background-color: inherit;
            box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.15);
            color: theme.$text-secondary-color;
            font-size: abs.rem(14);
            font-weight: 700;
            margin-top: 2px;

            i {
                font-size: abs.rem(20);
                margin-top: -2px;
                margin-left: 3px;
            }
        }

        &-texts {
            margin-top: abs.rem(16);
            text-align: center;

            .h1 {
                text-align: center;
                font-size: abs.rem(40);
                font-weight: 700;
                line-height: 1.2;
                width: 85%;
                margin-inline: auto;
            }

            &--secondary {
                color: theme.$text-secondary-color;
            }

            .p {
                width: 98%;
                margin-top: abs.rem(23);
                font-size: abs.rem(16);
                font-family: map.get(abs.$font, secondary);
                opacity: 0.6;
                text-align: center;
                opacity: 0.5;
                margin-inline: auto;
            }
        }

        &-btns {
            display: grid;
            grid-template-rows: repeat(2, auto);
            gap: abs.rem(24);
            margin-top: abs.rem(32);
            border-radius: abs.rem(40);
        }
    }

    /* Tablet Screen (1024px) */
    @include abs.tablet-screen {
        width: abs.rem(896);
        margin-top: 0;
        padding-inline: abs.rem(40);
        justify-content: center;
        gap: abs.rem(48);
        margin-left: 24px;

        &__visuals {
            margin: abs.rem(64) abs.rem(62) 0 abs.rem(62);
            width: abs.rem(772);
            height: abs.rem(713);

            &-images {
                transform: translate(abs.rem(-8), abs.rem(-6));
                width: abs.rem(575);
                height: abs.rem(632);
            }
        }

        .icon {
            font-size: abs.rem(26.67);
            padding: abs.rem(18.665);
        }

        .top-places {
            scale: 1;
            left: 70%;
            bottom: 5.35%;
            box-shadow: none;
        }

        &__content {
            width: 100%;
            margin-inline: auto;
            transform: translate(abs.rem(40), abs.rem(16));

            &-texts {
                margin-top: abs.rem(32);

                .h1 {
                    width: 75%;
                    margin-inline: auto;
                    font-size: abs.rem(56);
                    margin-top: abs.rem(45);
                }

                .p {
                    width: 55%;
                    margin-inline: auto;
                    font-size: abs.rem(18);
                    line-height: 1.6;
                    margin-top: abs.rem(40);
                }

                &--secondary {
                    padding-right: abs.rem(15);
                }
            }

            &-btns {
                display: flex;
                justify-content: center;
                gap: abs.rem(16);
                width: fit-content;
                margin-inline: auto;
                margin-top: abs.rem(42);
            }
        }
    }

    /* Desktop Screen (1440px) */
    @include abs.desktop-screen {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: abs.rem(1192.65);
        height: abs.rem(832.48);
        margin-inline: auto;
        padding-inline: 0;
        gap: abs.rem(40);

        &__visuals {
            flex: 1;
            margin: 0;
            min-width: abs.rem(772);
            min-height: abs.rem(713);
            transform: translate(abs.rem(8), 0);
            &-images {
                left: 55%;
            }
        }

        &__content {
            flex: 1;
            height: abs.rem(577);
            min-width: abs.rem(420.65);
            margin-top: 0;
            text-align: left;
            transform: translate(abs.rem(47), abs.rem(0));

            &-explore {
                margin-inline: 0;
            }

            &-texts {
                margin-inline: 0;
                text-align: left;

                .h1 {
                    width: 105%;
                    font-size: abs.rem(69);
                    line-height: 1.2;
                    text-align: start;
                }

                .p {
                    width: 100%;
                    margin-inline: 0;
                    text-align: start;
                    font-size: abs.rem(18);

                    .break {
                        display: block;
                    }
                }
            }

            &-btns {
                justify-content: flex-start;
                margin-inline: 0;
            }
        }
    }
}

.content__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &--first {
        height: abs.rem(65);
        box-shadow:
            0px 0px 0px 0px #0000001a,
            0px 5px 11px 0px #0000001a,
            0px 20px 20px 0px #00000017,
            0px 45px 27px 0px #0000000d,
            0px 81px 32px 0px #00000003,
            0px 126px 35px 0px #00000000;
    }

    &--second {
        gap: abs.rem(8);
        height: abs.rem(72);
        font-size: abs.rem(14);
        @include abs.flex-mixin;

        i {
            font-size: abs.rem(20);
            padding: 2px;
        }
    }

    @include abs.tablet-screen {
        display: flex;
        &--first {
            height: abs.rem(49);
        }
        &--second {
            height: abs.rem(56);

            .icon-play_circle {
                font-size: abs.rem(20);
                padding: 2px;
            }
        }
    }
}

.bg-orange {
    position: absolute;
    top: abs.rem(-36);
    left: abs.rem(-33);
    z-index: -1;
    width: abs.rem(272);
    height: abs.rem(348);
    border-radius: 50%;
    background-color: theme.$back-gradient-orange;
    filter: blur(abs.rem(120));
    opacity: 0.5;

    @include abs.tablet-screen {
        top: abs.rem(-100);
        left: abs.rem(-100);
        width: abs.rem(450);
        height: abs.rem(450);
        filter: blur(abs.rem(180));
    }

    @include abs.desktop-screen {
        top: abs.rem(0);
        left: abs.rem(-50);
        width: abs.rem(500);
        height: abs.rem(500);
    }
}

.traingles {
    display: none;

    @include abs.tablet-screen {
        display: block;
        position: absolute;
        scale: 0.5;
        bottom: -12%;
        left: -2.17%;
    }

    @include abs.desktop-screen {
        bottom: -17.3%;
        left: -9.6%;
    }
}
