@use '../abstracts' as abs;
@use '../themes' as theme;

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: abs.rem(32);
    margin-top: abs.rem(64);

    &__visuals {
        position: relative;
        height: abs.rem(366);
        margin-inline: auto;
        background: url('/assets/images/background-globe.webp') no-repeat top /
            contain;
        @include abs.flex-mixin;
        align-items: flex-end;

        @include abs.tablet-screen {
            margin: abs.rem(64) abs.rem(62) 0 abs.rem(62);
            width: abs.rem(772);
            height: abs.rem(713);
        }

        @include abs.desktop-screen {
            flex: 1;
            margin: 0;
            min-width: abs.rem(772);
            min-height: abs.rem(713);
            transform: translate(abs.rem(8), 0);
        }
    }

    &__images {
        height: abs.rem(324.42);
        @include abs.flex-mixin(space-between);
        transform: translate(abs.rem(-4.5), abs.rem(-3));
        flex: 0.74405;

        @include abs.tablet-screen {
            transform: translate(abs.rem(-8), abs.rem(-6));
            width: abs.rem(575);
            height: abs.rem(632);
        }

        @include abs.desktop-screen {
            left: 55%;
        }
    }

    &__images-column {
        @include abs.flex-mixin(space-between);
        flex-direction: column;
        height: 100%;
        flex: 0.4745;
        background-color: inherit;

        .hero__img {
            width: 100%;
            object-fit: cover;
        }
    }

    &__images-single {
        @include abs.flex-mixin;
        flex: 0.4744;
        height: 100%;

        .hero__img {
            width: 100%;
            object-fit: cover;
            margin-left: abs.rem(2);
        }
    }

    &__icon {
        position: absolute;
        z-index: 10;
        @include abs.font-style(
            $size: abs.rem(13.69),
            $align: center,
            $line-height: 1
        );
        padding: abs.rem(9.58);
        border-radius: 50%;
        box-shadow: #{abs.get(abs.$shadows, icon)};

        @include abs.tablet-screen {
            font-size: abs.rem(26.67);
            padding: abs.rem(18.665);
        }

        &--telegram {
            top: 48%;
            left: 7.2%;
            background-color: theme.$text-secondary-color;

            &::before {
                padding-top: abs.rem(0.5);
            }
        }

        &--add-user {
            background-color: theme.$back-gradient-orange;
            left: 61.5%;
        }

        &--top-places {
            height: fit-content;
            width: fit-content;
            scale: 0.5;
            border-radius: 0;
            left: 55.5%;
            bottom: -5.6%;
            box-shadow: none;

            @include abs.tablet-screen {
                scale: 1;
                left: 70%;
                bottom: 5.35%;
                box-shadow: none;
            }
        }

        &--bag {
            position: relative;
            box-shadow: none;
            gap: 0;
            padding: 0;
            font-size: abs.rem(20);
            transform: translate(abs.rem(0), abs.rem(-2));
        }
    }

    &__content {
        width: 100%;

        @include abs.tablet-screen {
            width: 100%;
            margin-inline: auto;
            transform: translate(abs.rem(40), abs.rem(16));
        }

        @include abs.desktop-screen {
            flex: 1;
            height: abs.rem(577);
            min-width: abs.rem(420.65);
            margin-top: 0;
            text-align: left;
            transform: translate(abs.rem(47), abs.rem(0));
        }
    }

    &__explore {
        @include abs.flex-mixin;
        gap: abs.rem(16);
        width: abs.rem(224);
        height: abs.rem(56);
        margin-inline: auto;
        border-radius: abs.rem(30);
        background-color: inherit;
        box-shadow: #{abs.get(abs.$shadows, explore)};
        color: theme.$text-secondary-color;
        font-size: abs.rem(14);
        font-weight: 700;
        margin-top: abs.rem(2);

        .text {
            transform: translate(abs.rem(-2), abs.rem(0));
        }

        @include abs.desktop-screen {
            margin-inline: 0;
        }
    }

    &__texts {
        margin-top: abs.rem(16);
        text-align: center;

        @include abs.tablet-screen {
            margin-top: abs.rem(32);
        }

        @include abs.desktop-screen {
            margin-inline: 0;
            text-align: left;
        }
    }

    &__texts-highlight {
        color: theme.$text-secondary-color;

        @include abs.tablet-screen {
            padding-right: abs.rem(15);
        }
    }

    &__btns {
        display: grid;
        grid-template-rows: repeat(2, auto);
        gap: abs.rem(24);
        margin-top: abs.rem(32);
        border-radius: abs.rem(40);
        margin-bottom: abs.rem(64);

        @include abs.tablet-screen {
            display: flex;
            justify-content: center;
            gap: abs.rem(16);
            width: fit-content;
            margin-inline: auto;
            margin-top: abs.rem(42);
        }

        @include abs.desktop-screen {
            justify-content: flex-start;
            margin-inline: 0;
        }
    }

    &__btn {
        @include abs.flex-mixin;
        display: inline-flex;
        text-align: center;

        &-text {
            margin-top: abs.rem(3);
        }

        &--primary {
            height: abs.rem(65);
            box-shadow: #{abs.get(abs.$shadows, hero-btn)};
        }

        &--secondary {
            gap: abs.rem(8);
            height: abs.rem(72);
            font-size: abs.rem(14);
            @include abs.flex-mixin;

            i {
                font-size: abs.rem(20);
                padding: abs.rem(2);
            }
        }

        @include abs.tablet-screen {
            display: flex;
            &--primary {
                height: abs.rem(49);
            }
            &--secondary {
                height: abs.rem(56);

                .icon-play_circle {
                    font-size: abs.rem(20);
                    padding: abs.rem(2);
                }
            }
        }
    }

    &__triangles {
        display: none;

        @include abs.tablet-screen {
            display: block;
            position: absolute;
            scale: 0.5;
            bottom: -6.53%;
            left: -2.17%;
        }

        @include abs.desktop-screen {
            bottom: -17.3%;
            left: -9.6%;
        }
    }

    @include abs.tablet-screen {
        width: abs.rem(896);
        margin-top: 0;
        padding-inline: abs.rem(40);
        justify-content: center;
        gap: abs.rem(48);
        margin-left: abs.rem(24);
    }

    @include abs.desktop-screen {
        @include abs.flex-mixin(space-between);
        flex-direction: row-reverse;
        width: abs.rem(1192.65);
        height: abs.rem(832.48);
        margin-inline: auto;
        padding-inline: 0;
        gap: abs.rem(40);
    }
}

.bg-orange {
    position: absolute;
    top: abs.rem(-36);
    left: abs.rem(-33);
    z-index: -1;
    width: abs.rem(272);
    height: abs.rem(348);
    border-radius: 50%;
    background-color: theme.$back-gradient-orange;
    filter: blur(abs.rem(120));
    opacity: 0.5;

    @include abs.tablet-screen {
        top: abs.rem(-100);
        left: abs.rem(-100);
        width: abs.rem(450);
        height: abs.rem(450);
        filter: blur(abs.rem(180));
    }

    @include abs.desktop-screen {
        top: abs.rem(0);
        left: abs.rem(-50);
        width: abs.rem(500);
        height: abs.rem(500);
    }
}
