@use '../abstracts' as *;

.nav {
    @include flex-mixin(space-between);
    height: rem(48);
    width: 100%;
    margin-top: rem(35);

    .reverse {
        width: 100%;
        @include flex-mixin(space-between);
    }

    &__logo {
        height: rem(40);
        width: rem(40);
    }

    &__hamburger {
        height: rem(48);
        width: rem(48);
        padding: rem(4);
        align-self: center;
        padding: rem(4);

        svg {
            height: rem(32);
            width: rem(32);
            padding: rem(4);
            align-self: center;
            background-color: $icon-color;
            border-radius: rem(8);
            color: white;

            path {
                width: rem(28);
            }
        }
    }

    &__links {
        text-transform: capitalize;
        display: none;
    }

    &__buttons {
        display: none;
    }

    @media (min-width: $mobile-breakpoint) {
        margin-top: 0;
        height: rem(113);
        width: 99.922%;
        .reverse {
            width: 52.4%;
            flex-direction: row-reverse;
        }
        &__buttons {
            display: block;
            text-transform: capitalize;
            display: flex;
            height: rem(49);
        }
    }

    @media (min-width: $tablet-breakpoint) {
        width: 100%;
        margin-top: rem(34);
        justify-content: space-between;
        height: rem(112);

        &__links {
            display: block;
            ul {
                @include flex-mixin(space-between);
                width: rem(428);
                height: rem(17);
                gap: rem(64);
                font-size: rem(14);
                white-space: nowrap;
                font-weight: 700;
                color: #19182580;

                .active {
                    color: $text-primary-color;
                }
            }
        }
        .reverse {
            width: auto;
            flex-direction: row;
            .nav__hamburger {
                display: none;
            }
        }
    }
}
