@use '../abstracts' as abs;
@use '../themes' as theme;

// Global body styles including the default font, text color, and page background color.
body {
    font-family: abs.get(abs.$font, default);
    color: theme.$text-primary-color;
    background-color: theme.$body-background-color;
    padding-top: abs.rem(35);

    @include abs.tablet-screen {
        padding-top: 0;
    }

    @include abs.desktop-screen {
        padding-top: abs.rem(34);
    }
}

html,
body {
    overflow-x: hidden;
}

body.no-scroll {
    overflow: hidden;
    height: 100vh;
}

// Maintains the image's aspect ratio when its width is resized.
img {
    height: auto;
}
